
.parent_container {
  display: flex;
  gap: 11rem;
  background: rgb(215, 233, 240);
  width: 100%;
  height: 63rem;
  margin-top: 6.3rem;
  /* position: absolute  ; */
}

.first_container {
  /* background-color: pink; */
  height: 75%;
  width: 50%;
  padding: 8rem 11rem;
  /* opacity: 1; */
}

.stack_cont {
  /* background-color: yellow; */
  font-size: 2.3rem;
  color: #093b80;
  font-weight: 700;
}
.stack_cont span {
  color: #6d7a81;
}

.learn_cont {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 3.7rem;
}
.learn_cont h2 {
  font-weight: 300;
  color: rgb(109, 122, 129);
}

.guarentee_cont {
  color: rgb(9, 59, 128);
  background-color: lightskyblue;
  margin-top: 1rem;
  height: 4rem;
  width: 25rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
}
.guarentee_cont h3 {
  font-weight: 600;
}

.btn-cont_1 button {
  background: rgb(21, 42, 138);
  width: 22rem;
  height: 4rem;
  color: #ffffff;
  margin-top: 3.8rem;
  margin-left: 1.3rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.form_container {
  background-color: #fff;
  width: 45rem;
  height: 45rem;
  margin-top: 6rem;
  padding: 4.5rem 5rem;
  border-radius: 1rem;
  /* opacity: .5;  */
}

.form_heading {
  /* background-color: greenyellow; */
  height: 4.9rem;
  font-size: 1.9rem;
  word-spacing: 0.2rem;
}
.form_heading h2 {
  font-weight: 500;
}
.form_heading span {
  color: tomato;
}

.input_cont {
  height: 8rem;
  line-height: 3rem;
}
.input_cont input {
  height: 4rem;
  width: 32rem;
  background: rgb(229, 242, 252);
  border: none;
  outline: none;
  text-indent: 1rem;
  border-radius: 2rem;
}
.input_cont star {
  color: red;
}

.btn-cont_2 button {
  background: rgb(21, 42, 138);
  width: 31rem;
  height: 4rem;
  color: #ffffff;
  margin-top: 2.5rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.img_cont {
  /* background-color: red; */
  height: 4rem;
  width: 4rem;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 6rem;
  margin-right: 3.5rem;
}
.img_cont img{
  height: 100%;
  width: 100%;
  /* opacity: 5; */
}
