.subHeader-container{
    height: 3rem;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.candidate-cont{
    color: blue;
    margin-left: 2rem;
    font-size: 1.2rem;
}

.job-post{
    height: 2rem;
    width: 10rem;
    background-color: rgb(247, 244, 75);
    margin-left: auto;
    margin-right: 5rem;
    border-radius: 1rem;
    text-align: center;
}

.job-post span{
    font-weight: 400;
    color: gray;
    margin-top: .3rem;
    display: flex;
    justify-content: center;
    
}